@{
  Layout = "_Layout";
}

@using RestaurantFinder.Models;
@model List<RestaurantFinder.Models.Restaurant>;

<h2>Restaurants</h2>

@foreach (Restaurant restaurant in Model)
{
  <li>@Html.ActionLink($"{restaurant.Name}", "Details", new { id = restaurant.RestaurantId }) | @restaurant.Cuisine.Name</li> // using string interpolation to create a link, while still accessing the foreach loop variable restaurant; can't use model.Name because we're inside of the foreach loop (C# world)
}

<p>@Html.ActionLink("Add a New Restaurant", "Create")</p>